body {
    background: -webkit-linear-gradient(90deg, rgb(0, 0, 255), rgb(255, 165, 0));
background: linear-gradient(90deg, rgb(0, 0, 255), rgb(255, 165, 0));

}
label {
    color: white;
}
#submit {
    float: right;
}
.input {
    font-size: 20px;
}
.pageTitle {
    text-align: center;
    color: white;
    font-size: 45px;
}