body {
    background: -webkit-linear-gradient(90deg, rgb(0, 0, 255), rgb(255, 165, 0));
background: linear-gradient(90deg, rgb(0, 0, 255), rgb(255, 165, 0));

}
.title {
    text-align: center;
    color: white;
    font-size: 55px;
}
#overlay {
    color: white;
    position: relative;
}

#hands {
    height: 350px;
    width: 350px;
}
#title {
    position: absolute;
    top: 40%;
    left: 25%;
}
#hands {
    align-content: center;
}
.container-fluid {
    position: relative;
}
.center{
    margin-left: auto;
    margin-right: auto;
}